/* HEADER__MENU */
.header {
  position: relative;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;

  //BACKGRAUND-LOGO
  &__bg-logo {
    max-width: 500px;
    @include font(800, 20rem, 15rem);
    text-transform: uppercase;
    opacity: 0.07;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 168px;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
  }

  //LOGO
  &__logo  img{
    max-width: 168px;
    max-height: 280px;
    object-fit: cover;
  }

  //NAVIGATON
  &__nav {
    margin-top: 20px;
    flex: 0 0 40%;
  }

  &__list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    flex: 0 0 20%;
  }
  // &__item:not(:first-child) {
  //   margin-top: 30px;
  // }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & svg {
      fill: $white;
    }
  }

  &__titel {
    margin-top: 1vh;
    @include font(500, 1.6rem, 1.6rem);
    letter-spacing: 3px;
    color: $white;
  }
}

//SEARCH
.search {
  margin-top: 15px;
  &__input {
    display: none;
  }

  &__btn {
    padding: 0;
    height: 40px;
    width: 40px;
    background: transparent;
    border: none;

    & svg {
      height: 25px;
      width: 25px;
      fill: $white;
    }
  }
}

//EVENT
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
  @include font(800, 7.2rem, 6.4rem);

  &__date {
    display: block;
    @include font(300, 1.6rem, 1.9rem);
  }

  &__location {
    position: relative;
    margin-top: 15px;
    padding-left: 20px;
    @include font(300, 1.4rem, 1.6rem);

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      height: 16px;
      width: 12px;
      background-image: url(/img/header/menu/location.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

    }
  }
}

/* SWIPER */
.swiper-container {
  height: 100vh;
  width: 100%;
}

.swiper-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

//navigation arrows
.swiper-button-next,
.swiper-button-prev {
  height: 45px;
  width: 45px;
  top: 10%;

  &::after {
    content: "";
  }
}
.swiper-button-next {
  right: 5%;
}

.swiper-button-prev {
  right: 8%;
  left: auto;
}

/* pagination */
.swiper-container-horizontal > .swiper-pagination-bullets {
  right: 5%;
  left: auto;
  bottom: 6%;
}// fix default value

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-left: 40px;
}// fix default value

.swiper-pagination {
  text-align: right;
  counter-reset: bullets;

  //SPAN SHROE NAME
  &-span {
    position: absolute;
    right: 5px;
    top: 15px;
    @include font(300, 1.8rem, 2.0rem);
  }

  &-bullet {
    position: relative;
    width: 200px;
    height: 4px;
    margin: 0 20px;
    border-radius: 0;
    background-color: $white;

    &::before {
      counter-increment: bullets;
      content: "0" counter(bullets);
      position: absolute;
      left: 5px;
      top: 10px;
      @include font(800, 2.4rem, 2.6rem);
    }

    &-active {
      background-color: $primary;
    }
  }
}

/* SLIDE */

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  background: radial-gradient(62.09% 64.09% at 44.87% 42.23%, rgba(34, 34, 34, 0.30) 0%, rgba(10, 10, 10, 0.92) 100%);

  //wrapper
  &__wrapper {
    position: absolute;
    right: 5%;
    bottom: 14%;
    text-align: right;
  }

  &__titel {
    margin-top: 10px;
  }

  &__subtext {
    margin-top: 35px;
  }

  &__text {
    margin-top: 10px;
  }

  &__link {
    margin-top: 10px;
  }
}