/* SWIPER */

.swiper-container {
  height: 100vh;
  width: 100%;
}

.swiper-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

//navigation arrows
.swiper-button-next,
.swiper-button-prev {
  height: 45px;
  width: 45px;
  top: 10%;

  &::after {
    content: "";
  }
}
.swiper-button-next {
  right: 5%;
}

.swiper-button-prev {
  right: 8%;
  left: auto;
}

/* pagination */
.swiper-container-horizontal > .swiper-pagination-bullets {
  right: 5%;
  left: auto;
  bottom: 4%;
}// fix default value

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-left: 40px;
}// fix default value

.swiper-pagination {
  text-align: right;
  counter-reset: bullets;

  //SPAN SHROE NAME
  &-span {
    position: absolute;
    right: 5px;
    top: 15px;
    @include font(300, 1.8rem, 2.0rem);
  }

  &-bullet {
    position: relative;
    width: 200px;
    height: 4px;
    margin: 0 20px;
    border-radius: 0;
    background-color: $white;

    &::before {
      counter-increment: bullets;
      content: "0" counter(bullets);
      position: absolute;
      left: 5px;
      top: 10px;
      @include font(800, 2.4rem, 2.6rem);
    }

    &-active {
      background-color: $primary;
    }
  }
}



/* SLIDE */

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
  background: radial-gradient(62.09% 64.09% at 44.87% 42.23%, rgba(34, 34, 34, 0.30) 0%, rgba(10, 10, 10, 0.92) 100%);

  //wrapper
  &__wrapper {
    position: absolute;
    right: 5%;
    bottom: 12%;
    text-align: right;
  }

  &__titel {
    margin-top: 10px;
  }

  &__subtext {
    margin-top: 35px;
  }

  &__text {
    margin-top: 10px;
  }

  &__link {
    margin-top: 10px;
  }
}